@import "_card";


.social-facebook {
    background-color: black;
}

.social-instagram {
    background-color: black;
}

.social-tiktok {
    background-color: black;
}

.social-facebook,
.social-instagram,
.social-tiktok {
    color: white;
}